h2 {
  font-size: 1.5rem;
}

input {
  font-size: 1rem;
  margin-top: 1rem;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/